In [1]:
import pandas as pd

In [5]:
heart_data = pd.read_csv('heart.csv')

In [7]:
heart_data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [9]:
# Data Cleaning
# Check for missing values

In [11]:
missing_values = heart_data.isnull().sum()
print("Missing Values:\n", missing_values)

Missing Values:
 age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [13]:
# Remove duplicates if any

In [15]:
heart_data_cleaned = heart_data.drop_duplicates()

In [17]:
# Error Correction
# Identify unrealistic values in certain columns (like 'age', 'chol', 'trestbps')

In [19]:
# Check for outliers in 'age' (e.g., age < 18 or age > 100 might be unrealistic)

In [21]:
age_outliers = heart_data_cleaned[(heart_data_cleaned['age'] < 18) | (heart_data_cleaned['age'] > 100)]
print("\nAge Outliers:\n", age_outliers)

Age Outliers:
 Empty DataFrame
Columns: [age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpeak, slope, ca, thal, target]
Index: []

In [23]:
# Check for outliers in 'chol' (e.g., cholesterol < 100 or cholesterol > 600)

In [25]:
chol_outliers = heart_data_cleaned[(heart_data_cleaned['chol'] < 100) | (heart_data_cleaned['chol'] > 600)]
print("\nCholesterol Outliers:\n", chol_outliers)

Cholesterol Outliers:
 Empty DataFrame
Columns: [age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpeak, slope, ca, thal, target]
Index: []

In [27]:
# Check for outliers in 'trestbps' (e.g., resting blood pressure < 50 or > 250)

In [29]:
trestbps_outliers = heart_data_cleaned[(heart_data_cleaned['trestbps'] < 50) | (heart_data_cleaned['trestbps'] > 250)]
print("\nResting Blood Pressure Outliers:\n", trestbps_outliers)

Resting Blood Pressure Outliers:
 Empty DataFrame
Columns: [age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpeak, slope, ca, thal, target]
Index: []

In [31]:
# Display basic information about cleaned data

In [33]:
print("\nCleaned Dataset Info:")
heart_data_cleaned.info()

Cleaned Dataset Info:
<class 'pandas.core.frame.DataFrame'>
Index: 302 entries, 0 to 878
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       302 non-null    int64
 1   sex       302 non-null    int64
 2   cp        302 non-null    int64
 3   trestbps  302 non-null    int64
 4   chol      302 non-null    int64
 5   fbs       302 non-null    int64
 6   restecg   302 non-null    int64
 7   thalach   302 non-null    int64
 8   exang     302 non-null    int64
 9   oldpeak   302 non-null    float64
 10  slope     302 non-null    int64
 11  ca        302 non-null    int64
 12  thal      302 non-null    int64
 13  target    302 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 35.4 KB