In [74]:
import pandas as pd

In [76]:
df = pd.read_csv('iris.data.csv')
df

      x1   x2   x3   x4            Type
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [78]:
df.describe()

               x1          x2          x3          x4
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667
std      0.828066    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      150 non-null    float64
 1   x2      150 non-null    float64
 2   x3      150 non-null    float64
 3   x4      150 non-null    float64
 4   Type    150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [82]:
df.shape

(150, 5)

In [98]:
a = df.iloc[:,[0,1,2,3]]
#exclude the column type
a

      x1   x2   x3   x4
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [148]:
a['x1'].quantile([.1, .25, .5, .75])

0.10    4.8
0.25    5.1
0.50    5.8
0.75    6.4
Name: x1, dtype: float64

In [150]:
a['x2'].quantile([.1, .25, .5, .75])

0.10    2.5
0.25    2.8
0.50    3.0
0.75    3.3
Name: x2, dtype: float64

In [152]:
a['x3'].quantile([.1, .25, .5, .75])

0.10    1.40
0.25    1.60
0.50    4.35
0.75    5.10
Name: x3, dtype: float64

In [154]:
a['x4'].quantile([.1, .25, .5, .75])

0.10    0.2
0.25    0.3
0.50    1.3
0.75    1.8
Name: x4, dtype: float64

In [156]:
df.count()

x1      150
x2      150
x3      150
x4      150
Type    150
dtype: int64

In [160]:
df['x1'].mean()

5.843333333333334

In [162]:
df['x2'].mean()

3.0540000000000003

In [164]:
df['x3'].mean()

3.758666666666666

In [166]:
df['x4'].mean()

1.1986666666666668

In [168]:
df['x1'].median()

5.8

In [170]:
df['x2'].median()

3.0

In [172]:
df['x3'].median()

4.35

In [174]:
df['x4'].median()

1.3

In [184]:
df['x1'].mode()

0    5.0
Name: x1, dtype: float64

In [186]:
df['x2'].mode()

0    3.0
Name: x2, dtype: float64

In [188]:
df['x3'].mode()

0    1.5
Name: x3, dtype: float64

In [190]:
df['x4'].mode()

0    0.2
Name: x4, dtype: float64

In [176]:
df['x1'].std()

0.8280661279778629

In [178]:
df['x2'].std()

0.4335943113621737

In [180]:
df['x3'].std()

1.7644204199522617

In [182]:
df['x4'].std()

0.7631607417008414

In [ ]:
# mean > median > mode --> positively skewed
# mean < median < mode --> negatively skewed
# mean = median = mode --> symmetric


# x1 is positively skewed
# x2 is positively skewed
# x3 is negatively skewed
# x4 is positivelt skewed