### Ex - GroupBy

In [7]:
#122B1F042

import pandas as pd

### Step 2. Import the dataset from this drinks.csv).

In [126]:
df = pd.read_csv("drink.csv",keep_default_na=False)

### Step 3. Assign it to a variable called drinks.

In [130]:
drinks = df
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

 ### Step 4. Which continent drinks more beer on average?

In [132]:
# a = ["AS","EU","AF","SA","NA","OC"]

# ans = []

# for i in a:
#     num = df[df['continent']==i]
#     b = num['beer_servings'].mean()
#     ans.append(b)

# ans

# p = 0;
# country = ""

# for i in range(0,len(ans)):
#     if(ans[i]>p):
#         p=ans[i]
#         country=a[i]

# for i in range(0,len(ans)):
#     print(a[i],  ans[i])

# print("Country with max average",country)

ans = drinks.groupby(drinks['continent'])['beer_servings'].mean()

print(ans)

print("Country with maximum beer consumption",max(ans))

continent
AF     61.471698
AS     37.045455
EU    193.777778
NA    145.434783
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64
Country with maximum beer consumption 193.77777777777777

### Step 5. For each continent print the statistics for wine consumption.

In [134]:
ans = drinks.groupby(drinks['continent'])['wine_servings'].describe()

print(ans)

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
NA          23.0   24.521739  28.266378  1.0   5.0   11.0   34.00  100.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

### Step 6. Print the mean alcohol consumption per continent for every column

In [142]:
ans = drinks.groupby(drinks['continent'])['total_litres_of_pure_alcohol'].mean()

print(ans)

continent
AF    3.007547
AS    2.170455
EU    8.617778
NA    5.995652
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 7. Print the median alcohol consumption per continent for every column

In [145]:
ans = drinks.groupby(drinks['continent'])['total_litres_of_pure_alcohol'].median()

print(ans)

continent
AF     2.30
AS     1.20
EU    10.00
NA     6.30
OC     1.75
SA     6.85
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [148]:
ans = drinks.groupby(drinks['continent'])['spirit_servings'].describe()

print(ans)

           count        mean        std   min     25%    50%     75%    max
continent
AF          53.0   16.339623  28.102794   0.0    1.00    3.0   19.00  152.0
AS          44.0   60.840909  84.362160   0.0    1.00   16.0   98.00  326.0
EU          45.0  132.555556  77.589115   0.0   81.00  122.0  173.00  373.0
NA          23.0  165.739130  94.993884  68.0  101.00  137.0  190.50  438.0
OC          16.0   58.437500  70.504817   0.0   18.00   37.0   65.25  254.0
SA          12.0  114.750000  77.077440  25.0   65.75  108.5  148.75  302.0